<div class="banner">
    <div class="banner-txt">
        <h1>
            Serving you <br> since 1989.
        </h1>
        <p class="p-banner">
            Acme Outdoors is an outdoor and adventure <br> 
            shop located in the Boathouse District in <br>
            Oklahoma City.
        </p>
        
        <a href="#">
            <button class="btn-merch">
                Shop Merch
            </button>
        </a>
    </div>
</div>  
<div class="help-text-display">
    <div class="box">
        <p class="left-box-p">WAYS TO SUPPORT</p>
        <h2 class="left-box-h2">Support Acme Outdoors.</h2>
    </div>
    <div class="box">
        <p class="right-box-p">
            COVID-19 has forced us to close our retail space, but we need<br>
            support from patrons like yourself now more than ever. Below, we've<br>
            listed the best ways to help us through this season.
        </p>
    </div>
    


</div>
<div class="cards-div">
    <div class="card-display">
        <div class="card">
            <p class="card-num">01</p>
            <p class="card-text">SHOP<br>PRODUCTS</p>
            <!--Imagem do canto do primeiro card-->
            <div class="circle">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                  </svg>
            </div>
        </div>
        <div class="card">
            <p class="card-num">02</p>
            <p class="card-text">DONATE</p>
            <!--Imagem do canto do segundo card-->
            <div class="triangle">
                 <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                </svg>
            </div>
        </div>
        <div class="card">
            <p class="card-num">03</p>
            <p class="card-text">BUY<br>GIFT CARDS</p>
            <!--Imagem do canto do terceiro card-->
            <div class="square">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                  </svg>
            </div>
        </div>
        <p class="card-paragraph">
            Our full product line is still available online<br>
            here on our site! Getting outside and hiking is<br>
            still something you can do. Get your gear<br>
            now!
        </p>
        <p class="card-paragraph">
            Since we've changed the way we operate to<br>
            online only, and to ensure your safety, not all<br>
            our staff is working. Donate to keep them<br>
            afloat.
        </p>
        <p class="card-paragraph">
            Have all the outdoor gear you need for<br>
            now? Buy a gift card and use it later or share<br>
            it with friends and family.
        </p>
    </div>

</div>