
.banner{
   width: 100%;
   height: 400px;
   background-image: url(/assets/banner.jpg);
   background-size: 100%;
   background-position: 0px 1200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;

} 

h1{
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 0px;
}

.p-banner{
    font-weight: bold;
    font-size: 12px;
}

.btn-merch{
    border-style:solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: white;
    background-color: transparent;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color:white;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;

}

.btn-merch:hover{
    transform: scale(1.1);
}

.banner-txt{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 23%;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.cards-div{
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.card{
    width: 250px;
    height: 250px;
    background-color: #2c282a;
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-display{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 77%;
}

.card-num{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    margin-right: 200px;
    margin-bottom: 20px;
    
}

.card-text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    
}

.circle{
    margin-left: 90%;
    
}
.triangle{
    margin-left: 70%;
    margin-top: 5%;
}

.square{
    margin-left: 90%;
}

.card-paragraph{
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 12px;
    margin: 20px;
    margin-top: 10px;
}

.help-text-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 30px;
}

.box{
    margin: 53px;
}

.right-box-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    
}

.left-box-p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
    font-weight: bold;
    margin:0px
}

.left-box-h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #2c282a;
    margin:0px;
    margin-top: 8px;
}

.banner2{
    width: 100%;
   height: 400px;
   background-image: url(/assets/banner\ 2.jpg);
   background-size: 100%;
   background-position: 0px 1200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
}

.banner2-text{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 23%;
    color: white;
    text-align: right;
}

.banner2-title{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 0px;
}

.btn2-statement{
    border-style:solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: transparent;
    background-color: white;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color:#2c282a;
    font-weight: bold;
    height: 35px;
    margin-top: 10px;

}

.btn2-statement:hover{
    transform: scale(1.1);
}